@mixin background($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@mixin positionAbs($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
}

@mixin unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}