.card-cover {
    width: 430px;
    height: 270px;
    // background-color: aqua;
    // background-image: url("../wallpaper1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}