@import './mixin/mixins';
// div .focus {
//     border: 2px solid #eeeeee;
//     border-radius: 10px;
//     background-color: #5353537e;
//     // transition: all .3s ease-in-out;
//     transition: all 2s cubic-bezier(0.71, 0.03, 0.56, 0.85);
    
// }

// Card number //

.card-front__number {
    @include positionAbs($top: 100px, $left: 15px);
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 42px;
    cursor: pointer;
    font-size: 1.6rem;
}

.card-front__number-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-front__number-item {
    margin-right: 0.2rem;
    color: #fff;
    text-align: center;
    // width: 30px;
}

.card-front__number-item:last-child {
    margin-right: 0;
}

.card-front__number-count {
    text-transform: uppercase;
}

// Card name //

.card-front__name {
    @include positionAbs($top: 200px, $left: 15px);
    width: 300px;
    height: auto;
    padding: 3px 8px;
    // border: 2px solid transparent;
    cursor: pointer;
}

.card-front__name-title {
    font-size: .9rem;
    color: #b1b1b1;
}

.card-front__name-suptitle {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    white-space: normal;
    overflow: hidden;
}

// Card date //

.card-front__date {
    @include positionAbs($top: 200px, $left: 325px);
    width: 90px;
    height: auto;
    padding: 3px 8px;
    // border: 2px solid transparent;
    cursor: pointer;
}

.card-front__date-title {
    font-size: .9rem;
    color: #b1b1b1;
}

.card-front__date-info {
    display: flex;
    justify-content: center;
}

.card-front__date-info-month, .card-front__date-info-slash, .card-front__date-info-year {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #ffffff;
    cursor: pointer;

}

.card-front__date-info-slash {
    margin: 0 3px;
}


@media (max-width: 575px) {

    // Card Number \\

    .card-front__number {
        @include positionAbs($top: 80px, $left: 10px);
        width: 290px;
        font-size: 1.3rem;

    }

    .card-front__number-item {
        margin-right: 0;

    }

    // Card Name \\

    .card-front__name {
        @include positionAbs($top: 165px, $left: 10px);
        width: 225px;
    }

    
    .card-front__name-title {
        font-size: .7rem;
    }

    .card-front__name-suptitle {
        font-size: .9rem;
    }

    // Card Date \\

    .card-front__date {
        @include positionAbs($top: 165px, $left: 240px);
        width: 60px;
        padding: 3px 8px;
    }

    
    .card-front__date-title {
        font-size: .7rem;
    }

    .card-front__date-info-month, .card-front__date-info-slash, .card-front__date-info-year {
        font-size: .9rem;
    }

    .card-front__date-info-slash {
        margin: 0 1px;
    }


}

@media (max-width: 370px) {

    // Card Number \\

    .card-front__number {
        @include positionAbs($top: 80px, $left: 5px);
        width: 260px;
        font-size: 1.2rem;

    }

    .card-front__number-item {
        margin-right: 0;

    }

    // Card Name \\

    .card-front__name {
        @include positionAbs($top: 165px, $left: 5px);
        width: 180px;
    }

    
    .card-front__name-title {
        font-size: .7rem;
    }

    .card-front__name-suptitle {
        font-size: .9rem;
    }

    // Card Date \\

    .card-front__date {
        @include positionAbs($top: 165px, $left: 200px);
        width: 60px;
        padding: 3px 8px;
    }

    
    .card-front__date-title {
        font-size: .7rem;
    }

    .card-front__date-info-month, .card-front__date-info-slash, .card-front__date-info-year {
        font-size: .9rem;
    }

    .card-front__date-info-slash {
        margin: 0 1px;
    }


}

