@import 'mixins';;

div .focus {
    border: 2px solid #eeeeee;
    border-radius: 10px;
    background-color: #5353537e;
    transition: all .3s ease-in-out;
    
}

// Card number //

.card-front__number {
    @include positionAbs($top: 100px, $left: 15px);
    display: flex;
    justify-content: space-around;
    width: 400px;
    border: 2px solid transparent;
    cursor: pointer;
}

.card-front__number-group {
    display: flex;
    flex-direction: row;
}

.card-front__number-item {
    margin-right: 0.2rem;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
    // width: 30px;
}

.card-front__number-count:last-child {
    margin-right: 0;
}

.card-front__number-count {
    width: 14px;
    text-transform: uppercase;
}

// Card name //

.card-front__name {
    @include positionAbs($top: 200px, $left: 15px);
    width: 300px;
    height: auto;
    padding: 3px 8px;
    border: 2px solid transparent;
    cursor: pointer;
}

.card-front__name-title {
    font-size: .9rem;
    color: #b1b1b1;
}

.card-front__name-suptitle {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    white-space: normal;
    overflow: hidden;
}

// Card date //

.card-front__date {
    @include positionAbs($top: 200px, $left: 325px);
    width: 90px;
    height: auto;
    padding: 3px 8px;
    border: 2px solid transparent;
    cursor: pointer;
}

.card-front__date-title {
    font-size: .9rem;
    color: #b1b1b1;
}

.card-front__date-info {
    display: flex;
    justify-content: center;
}

.card-front__date-info-month, .card-front__date-info-slash, .card-front__date-info-year {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #ffffff;
    cursor: pointer;

}

.card-front__date-info-slash {
    margin: 0 3px;
}
