// $input-form-width: 500px;

.input-form {
    border-radius: 1em;
    margin: -10em auto 1em;
    max-width: 500px;
    height: auto;
    background-color: #b6b6b65b;
    z-index: -1;
    padding: 11em 2em 1em;
}

.input-form__label {
    width: 100%;
}

.input-form__submit {
    width: 100%;
    margin-top: 30px;
    background-color: #181818;
    color: #ffffff;
    cursor: pointer;
}

.input-form__submit:hover {
    background-color: #000000;
}

.input-form__title {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 3px;
}

input, select {
    border: 1px solid transparent;
    border-radius: .4em;
    background-color: #f0f0f0;
    font-size: 1.2rem;
    font-weight: 100;
    padding: 10px 10px;
    outline: none;
    transition: all .3s ease-in-out;
}

input:focus,
select:focus {
    border: 1px solid #000000;
}

// Upper part \\


.input-form__number,
.input-form__holder {
    width: 100%;
    margin-bottom: 1em;
}

// Bottom part \\

.input-form__bottom-part,
.input-form__exp-date_inner {
    display: flex;
    // overflow: hidden;
}

.input-form__exp-date {
    width: 50%;
}

.input-form__cvv-container {
    width: 50%;
}


.input-form__month,
.input-form__year {
    margin-right: .5em;
    width: calc(100% - .5em);
    word-break:break-word;
    // box-sizing: border-box;
    cursor: pointer;
}

.input-form__cvv {
    max-width: 100%;
    width: auto;
}




// .input-form__number
// .input-form__holder
// .input-form__month
// .input-form__year
// .input-form__cvv


@media (max-width: 575px) {
    .input-form {
        padding: 11em 1em 1em;
    }

    .input-form__bottom-part {
        flex-wrap: wrap;
    }

    .input-form__exp-date {
        width: 100%;
    }
    .input-form__exp-date_inner {
        display: flex;
        justify-content: space-around;
    }

    .input-form__label_month {
        margin-right: .5em;
    }

    .input-form__month,
    .input-form__year {
        width: inherit;
        margin-right: 0;
    }

    .input-form__cvv-container {
        width: 100%;
        margin-top: 1em;
    }
    
    .input-form__cvv{
        width: 100%;
    }


}
