@import './styles/mixin/mixins';
@import './styles/constants/base.scss';

:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    background-color: #272727;
}

::selection {background: #cccccc;}
::-moz-selection {background: #cccccc;}
::-webkit-selection {background: #cccccc; color: #ffffff;}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%; // if we add the veil, the change this strike to: "height: 100%;"
    padding: 20px; // if we add the veil, then delete this strike
    overflow-x: hidden;

}

.wrapper::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    // margin: -30px;
    z-index: -1;
    @include background($url: "./assets/img/" + $img-url); // if we need a back-img just add this strike
    // background-color: transparent; // if we need a back-img just delete this strike
    // filter: blur(5px);
}

// .veil { // <----- if we need a veil
//     max-width: 100%;
//     height: 100vh;
//     padding: 20px;
//     background-color: #acacac13;
// }

a:link {
    color: #ffffff;
}

a:visited {
    color: #d8d8d8;
}

.wrapper__link {
    max-width: 100%;
    width: auto;
    text-align: center;
    margin-top: 1em;
}


@font-face {

	font-family: 'Roboto Mono'; 

	src: local('Roboto Mono'),

		url(./fonts/RobotoMono-VariableFont_wght.ttf); 

}